section#blog {
  background-image: url('../images/bg.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: $gray-100;
  background-size: contain;
  height: 100vh;
  min-height: 650px;
  // padding-top: 0;
  // padding-bottom: 0;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1, h2, a {
    color: black !important;
    &:hover {
      color: $primary;
    }
  }

  p {
    font-size: 10pt;
    color: black;
  }

  a {
    font-weight: bold;
  }

}
