section#blog {

  h1, h2, h3 {
    color: $gray-700 !important;
    &:hover {
      color: $primary;
    }
  }

  span {
    font-size: 18px;
    color: $primary;
  }

  p {
    font-size: 21px;
    }

  .summary-text {
    font-size: 18px;
    }

  a {
    font-weight: normal;
  }

  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: $gray-100;
  }

  .blog-nav {
    left: 5px;
    bottom: 5px;
  }

}

.badge {
  color: white;
}