section#blog {

  h1, h2, a {
    color: black !important;
    &:hover {
      color: $primary;
    }
  }

  h3 {
    font-size: 42px;
  }

  p {
    font-size: 21px;
    color: black;
  }

  a {
    font-weight: bold;
  }

}
