// Global styling for this template

  body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.05) ), url('../images/bg.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;

  }

body,
html {
  width: 100%;
  height: 100%;
  text-align: left;
}

body {
  @include serif-font;
  color: $gray-900;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    // color: darken($primary, .5);
    color: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
  color: $gray-700 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($gray-700, .3);
}

section {
  padding: 128px 0 128px 0 ;
  height: 100%;
}

section#team {
  padding-bottom: 0
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.image-container {
  position:relative;
  height: 100%;
  width: 100%;
}
img.center {
  height: auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-100%);
  top: 100%;
  width: 80%;
  }
