section#home h2 {
 font-size: 5rem;
}

#home.p {
    text-align: left;
    font-size: 12px;
}

section#home .container{
    height: 100%;
}

section#home div.col-lg-10.mx-auto {
    height: 100%;
}
section#home {
    height: 100%;
    padding-bottom: 128px;
}