.social_navigation{
    position:fixed;
    display:flex;
    top:0;
    bottom:0;
    right:30px;
    margin:auto 0;
    z-index:2;
    pointer-events:none;
    color: $primary;
}

.social_navigation ul{
    display:flex; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center; 
    pointer-events:all;
}

.social_navigation ul li{
    display:block;
    margin:0 0 25px;
    position:relative;
}

.social_navigation ul li:last-child{
    margin:0;
}

.social_navigation ul li:first-child::before{
    top:-40px;
}
.social_navigation ul li:last-child::before{
    bottom:-40px;
}
.social_navigation ul li a:hover{
    opacity:0.6;
}