.hero {
  // padding-top: 9rem;
}

.hero__heading {
  @include f-heading;
  margin-bottom: 2.25rem;
  font-weight: normal;
  color: $c-blue;
}

.hero__subheading {
  @include f-subheading;
  color: $c-darkgrey;
  line-height: 1.45;
  font-weight: 300;
  margin-bottom: 0;
}
.hero__subheading__right {
  @include f-subheading;
  color: $c-darkgrey;
  line-height: 1.45;
  font-weight: 300;
  margin-bottom: 0;
  text-align: right;
}

.hero__body {
  @include f-base;
  margin: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: $c-darkgrey;

  &__middle {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  ul {
    /* unordered list of items within a hero__body*/
    list-style: none;
  }
}

.hero__body__list {
  @include f-base;
  margin: 1rem;
  font-weight: 400;
  line-height: 1;
  padding-left: 4rem;
}

.hero__cta {
  color: $c-blue;
  &:hover {
    color: $c-blue-link;
  }
}

@media screen and (max-width: $screen-md) {
  .hero {
    padding-top: 2.5rem;
  }

  .hero__heading {
    margin-bottom: 1.125rem;
  }
}

@media screen and (max-width: $screen-tablet) {
  .hero {
    padding-top: 0;
  }
}

@media screen and (max-width: $screen-mobile) {
  .hero {
    padding-top: 0;
  }

  .hero__body {
    margin: 1.5rem;

    &__middle {
      margin: 1.5rem;
    }
  }

  .hero__body__list {
    padding-left: 2.5rem;
  }
}
