---
pageable: true
---

<div class="articles">
<section id="blog"">
  <div class="container">
    <div class="row">
    <div class="col-1">
    </div>
    <div class="col-8">
  <% page_articles.each_with_index do |article, i| %>
    <% if i > 0 %>
    <% end %>
    <%= partial '/blog/article_digest', locals: { article: article } %>
  <% end %>
      </div>
    <div class="col-3">
    </div>
</div>
</div>

<%= partial '/blog/pagination', locals: {
  paginate: paginate, 
  next_page: next_page, 
  prev_page: prev_page,
  num_pages: num_pages,
  page_number: page_number
} %>
