
<!-- ABOUT -->
<section id="about">
<div class="col-lg-10 mx-auto">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-heading" align="left">State channels</h2>
        <p class="text-faded mb-4">
        A state channel is a type of protocol for secure transactions between a number of counterparties who do not wish to trust each other or an intermediary.
        </p>
        <p class="text-faded mb-4">
        State channels leverage a blockchain for security, but mostly bypass the usual high costs and high latency. 
        <p class="text-faded mb-4">
        At magmo we use a simple-but-powerful approach to develop new state channel protocols and software that are easy to use and understand.
        </p>
        </div>
        <div class="col">
         <h2 class="section-heading" align="left">About us</h2>
        <p class="text-faded mb-4" align="left">
        We are a team of researchers working on state channels: the most promising scaling 
        solution for the ethereum blockchain.
        </p>
        <p class="text-faded mb-4" align="left">
        The technology exists today to allow a whole class of applications to move the majority of their transactions “off chain”. The complexity of understanding and applying state channel techniques is the main barrier to adoption.
        </p>
        <p class="text-faded mb-4" align="left">
        <b>At Magmo, we’re working to make state channels more accessible to the Ethereum developer community.</b>
        </p>
        <p class="text-faded mb-4" align="left">
        We are fortunate to be supported in this effort by the Ethereum Foundation and the Ethereum Community Fund.
        </p>

        <p class="text-faded mb-4" align="left"> 
        For more details, checkout our <a href='/research'>research papers</a>, 
        check out the <a href="https://github.com/magmo/force-move-games">code</a> or play one of our <a href="/apps">example games!</a>
        </div>
        <div class="w-100 text-center">
        </div>
        <div class="col">
       
        </p>
      </div>
        <div class="col text-center">
        </div>
    </div>
  </div>
  </div>
</section>