<!-- APPS -->
<section id="apps">
<div class="col-lg-10 mx-auto">
  <div class="container">
    <div class="row">
        <div class="col-sm" align="right">
        </div>
        <div class="col-sm" align="right">
        </div>
        <div class="col-sm" align="right">
        <a href="">
        <img src="/images/rpsfavicon.png" height="200px">
        </a>
        </div>
      <div class="col-sm-6">
        <h2 class="section-heading" align="left">Rock Paper Scissors</h2>
        <p>
        Choose your weapon!
        </p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm" align="right">
        </div>
        <div class="col-sm" align="right">
        </div>
        <div class="col-sm" align="right">
        <a href="">
        <img src="/images/tttfavicon.png" height="200px">
        </a>
        </div>
        <div class="col-sm-6">
        <h2 class="section-heading" align="left">Tic Tac Toe</h2>
        <p>
        Get three in a row!
        </p>
        </div>
    </div>
  </div>
  </div>
</section>