<!-- HOME -->
<section id="home">
<div class="col-lg-10 mx-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 align="left">State Channels, Simplified.</h2>
      </div>
    </div>
  </div>
  </div>
</section>
