<header class="masthead text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>We build state channels</strong>
        </h1>
        <br>
      </div>
      <div class="col-lg-8 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-heading" align="left">About us</h2>
        <!--<hr class="light my-4">-->
        <br>
        <p class="text-faded mb-4" align="left">
          We are a team of researchers working on state channels - the most promising scaling 
          solution for the ethereum blockchain.
        </p>
        <p class="text faded mb-4" align="left">
        The technology exists today to allow a whole class of applications to move the majority of their transactions “off chain”. The complexity of understanding and applying state channel techniques is the main barrier to adoption.
        </p>
        <p class="text faded mb-4" align="left">
        <b>At Magmo, we’re working to make state channels more accessible to the Ethereum developer community.</b>
        </p>
        <p class="text faded mb-4" align="left">
        We are fortunate to be supported in this effort by the Ethereum Foundation and the Ethereum Community Fund.
        </p>

        <p class="text-faded mb-4" align="left">
        Our focus on simplicity and usability led us to develop ForceMove - a simple but powerful state channel framework, suitable for general use. 
        For more details read the <a href="./force-move-games.pdf">paper</a> or
        check out the <a href="https://github.com/magmo/force-move-games">code</a>!
        </p>

        <p class="text-faded mb-4" align="left">
        We have recently launched two games that operate on ForceMove: <a href="https://rps.magmo.com">Rock Paper Scissors</a> and  <a href="https://ttt.magmo.com">Tic Tac Toe</a>. The applications are fully <a href="https://github.com/magmo/apps">open-source</a> and designed to be used as a starting point for developers wanting to integrate state channels into their products.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">
          If you want to find out more about what we're doing or are interested in
          getting involved, please let us know!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col mr-auto text-center">
        <a href="https://github.com/magmo">
          <i class="fab fa-github fa-6x"></i>
        </a>
      </div>
      <div class="col mr-auto text-center">
        <a href="https://medium.com/magmo">
          <i class="fab fa-medium fa-6x"></i>
        </a>
      </div>
      <div class="col mr-auto text-center">
        <a href="https://twitter.com/magmoHQ">
          <i class="fab fa-twitter fa-6x"></i>
        </a>
      </div>
      <div class="col mr-auto text-center">
        <a href="mailto:research@magmo.com">
          <i class="far fa-envelope fa-6x"></i>
        </a>
      </div>
      <div class="col mr-auto text-center">
      <a href="https://discord.gg/UDQMgVa">
        <i class="fab fa-discord fa-6x"></i>
      </a>
    </div>
    </div>
  </div>
</section>