<!-- HOME -->
<section id="home">
  <div class="col-lg-10 mx-auto">
    <div class="container d-flex flex-wrap align-items-center">
      <div class=”row align-items-center”>
        <div class=”col-6 align-text-center”>
            <h2 align="left">State channels, simplified.</h2>
      </div>
    </div>
  </div>
</div>
</section>
