<section id="team">
<div class="col-lg-10 mx-auto">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center">
        <div class="w-100 text-center">
            <img src="/images/devcon_iv_team_photo.jpg" width='60%' class="rounded border border-white" align="center">
            <br>
            Glenn Wilkinson / Alex Gap / Mike Kerzhner / Tom Close / Andrew Stewart / George Knee
        </div>
    </div>
</div>

