
<!-- Page Content -->
<section id="team">
  <div class="col-lg-10 mx-auto">
    <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="tom.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Tom Close</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/images/andrew.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Andrew Stewart</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/images/mike.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Mike Kerzhner</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
            </div>
          </div>
          <!-- Team Member 4 -->
          <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/images/alex.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Alex Gap</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
            </div>
          </div>

          <!-- Team Member 5 -->
          <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/images/glenn.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Glenn Wilkinson</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
            </div>
          </div>


        <!-- Team Member 6 -->
          <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/images/george.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">George Knee</h5>
                <div class="card-text text-black-50">Web Developer</div>
              </div>
            </div>
          </div>
        </div>

        <!-- /.row -->
    </div>
  </div>
</section>
<!-- /.container -->

